### This script picks up using CSV from VBA script

In [1]:
import pandas as pd

In [5]:
alcohol_use_percents = pd.read_csv("State_stats_perc_VBA.csv", index_col=1)
alcohol_use_percents.head()
percents = alcohol_use_percents.drop(['Ages 12-17', 'Ages 18-25', 'Ages 26+', 'Ages 18+', 'Unnamed: 7', 'Unnamed: 8'], axis=1)

In [7]:
percents.rename(columns={'Ages 12-17.1': 'Ages 12-17', 'Ages 18-25.1': 'Ages 18-25', 'Ages 26+.1': 'Ages 26+', 'Ages 18+.1':'Ages 18+'}, inplace=True)

In [10]:
percents.head()

        State Total # Polled  Ages 12-17  Ages 18-25   Ages 26+   Ages 18+
year
2013  Alabama          1,752    2.454338   15.582192  81.906393  97.545662
2014  Alabama          1,803    2.218525   15.252357  82.529118  97.781475
2015  Alabama          1,779    1.854975   15.514334  82.630691  98.088814
2016  Alabama          1,656    1.871981   16.002415  82.185990  98.188406
2017  Alabama          1,709    1.930954   15.155061  82.913985  98.010532

In [11]:
Grouped_percents= percents.groupby(['State', 'year']).max()

Grouped_percents.to_csv("Grouped_percents.csv")

In [14]:
Grouped_percents.head(50)

                          Total # Polled  Ages 12-17  Ages 18-25   Ages 26+  \
State                year
Alabama              2013          1,752    2.454338   15.582192  81.906393
                     2014          1,803    2.218525   15.252357  82.529118
                     2015          1,779    1.854975   15.514334  82.630691
                     2016          1,656    1.871981   16.002415  82.185990
                     2017          1,709    1.930954   15.155061  82.913985
Alaska               2013            306    1.960784   15.359477  82.679739
                     2014            313    1.916933   15.974441  82.108626
                     2015            319    2.194357   16.300940  81.818182
                     2016            307    1.954397   15.309446  82.736156
                     2017            302    1.986755   13.907285  84.105960
Arizona              2013          2,762    2.534395   15.061550  82.440261
                     2014          2,846    2.283907   14.933240  82.817990
                     2015          2,865    1.989529   14.589878  83.420593
                     2016          2,901    1.516718   13.891761  84.591520
                     2017          2,917    1.576963   13.472746  84.950291
Arkansas             2013          1,007    2.581927   17.477656  79.940417
                     2014          1,035    2.222222   17.004831  80.772947
                     2015          1,024    2.148438   16.113281  81.835938
                     2016            988    2.125506   15.890688  81.983806
                     2017            987    2.127660   15.400203  82.472138
California           2013         15,611    2.318878   16.443533  81.243995
                     2014         16,204    2.283387   15.903481  81.813133
                     2015         16,688    2.001438   15.184564  82.813998
                     2016         16,226    1.700974   14.667817  83.631209
                     2017         16,575    1.641026   13.996983  84.368024
Colorado             2013          2,623    2.020587   14.754098  83.225315
                     2014          2,698    2.149741   14.381023  83.432172
                     2015          2,651    1.961524   14.975481  83.062995
                     2016          2,628    1.636225   14.459665  83.904110
                     2017          2,764    1.519537   13.422576  85.057887
Connecticut          2013          1,846    2.221018   13.542795  84.236186
                     2014          1,828    2.024070   13.676149  84.299781
                     2015          1,844    2.114967   14.045553  83.839479
                     2016          1,805    1.717452   14.515235  83.767313
                     2017          1,843    1.736300   14.161693  84.156267
Delaware             2013            424    1.886792   14.858491  83.254717
                     2014            441    1.587302   14.512472  83.900227
                     2015            425    1.647059   14.588235  83.764706
                     2016            416    1.442308   13.461538  85.096154
                     2017            415    1.445783   12.530120  86.024096
District of Columbia 2013            357    1.120448   19.607843  79.551821
                     2014            381    1.049869   17.847769  81.102362
                     2015            393    1.017812   17.811705  81.424936
                     2016            397    0.755668   17.380353  81.863980
                     2017            391    0.767263   16.112532  83.375959
Florida              2013          8,540    2.072600   13.477752  84.437939
                     2014          8,917    1.906471   12.952787  85.140742
                     2015          9,369    1.601025   12.466645  85.932330
                     2016          9,301    1.386948   12.192237  86.420815
                     2017          9,182    1.524722   12.045306  86.429972

                            Ages 18+
State                year
Alabama              2013  97.545662
                     2014  97.781475
                     2015  98.088814
                     2016  98.188406
                     2017  98.010532
Alaska               2013  97.712418
                     2014  98.083067
                     2015  98.119122
                     2016  98.045603
                     2017  98.013245
Arizona              2013  97.465605
                     2014  97.751230
                     2015  98.010471
                     2016  98.483282
                     2017  98.457319
Arkansas             2013  97.418073
                     2014  97.777778
                     2015  97.851562
                     2016  97.874494
                     2017  97.872340
California           2013  97.681122
                     2014  97.716613
                     2015  97.998562
                     2016  98.305189
                     2017  98.358974
Colorado             2013  98.017537
                     2014  97.850259
                     2015  98.038476
                     2016  98.401826
                     2017  98.480463
Connecticut          2013  97.778982
                     2014  97.975930
                     2015  97.885033
                     2016  98.282548
                     2017  98.317960
Delaware             2013  98.113208
                     2014  98.412698
                     2015  98.352941
                     2016  98.317308
                     2017  98.554217
District of Columbia 2013  98.879552
                     2014  98.950131
                     2015  98.982188
                     2016  99.244332
                     2017  99.488491
Florida              2013  97.915691
                     2014  98.093529
                     2015  98.398975
                     2016  98.613052
                     2017  98.475278